{% extends "shop/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}
    <div class="product-detail">
        {% if product.image %}
            {% thumbnail product.image 480x334 crop="smart" as im %}
            <img src="{{ im.url }}" alt="{{ product.name }}">
        {% else %}
            <img src="{% static "img/no_image.png" %}" alt="{{ product.name }}">
        {% endif %}
        <h1>{{ product.name }}</h1>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">
                {{ product.category }}
            </a>
        </h2>
        <p class="price">${{ product.price }}</p>
        {{ product.description|linebreaks }}
    </div>
{% endblock content %}